{% extends 'base-backend.html.twig' %}

{% block title %}Les Categorie{% endblock %}

{% block body %}
    <h1>Les Categories</h1>
    <a href="{{ path('app_admin_categorie_new') }}" class="btn btn-dark">Nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.slug }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}" class="btn btn-success ms-2"><i class="align-middle" data-feather="pen-tool"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune catégorie enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
