{% extends 'base-backend.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_categorie_index') }}" class="btn btn-dark">back to list</a>
    <h1>Categorie</h1>
    <div class="d-flex justify-content-end align-items-end">
    {{ include('admin_categorie/_delete_form.html.twig') }}
    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}" class="btn btn-success ms-2"><i class="align-middle" data-feather="pen-tool"></i></a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ categorie.slug }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
