{% extends 'base-backend.html.twig' %}

{% block title %}Accueils{% endblock %}

{% block body %}
    <h1>Accueils</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
                <td>{{ home.id }}</td>
                <td class="col-2">{{ home.titre }}</td>
                <td>{{ home.texte|raw }}</td>
                <td class="col-2">
                    <a href="{{ path('app_admin_home_show', {'id': home.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_home_edit', {'id': home.id}) }}" class="btn btn-success ms-2"><i class="align-middle" data-feather="pen-tool"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_home_new') }}" class="btn btn-success">Nouveau</a>
{% endblock %}
