{% extends 'base.html.twig' %}

{% block title %}
    {% if auteur.pseudo is not null %}
        {{ auteur.pseudo }}
    {% else %}
        {{ auteur.nom}} 
        {% if auteur.prenom is not null %}
            {{ auteur.prenom }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <main class="contener bg-white shadow p-4">
        <h1>
        {% if auteur.pseudo is not null %}
            {{ auteur.pseudo }}
        {% else %}
            {{ auteur.nom}} 
            {% if auteur.prenom is not null %}
                {{ auteur.prenom }}
            {% endif %}
        {% endif %}
        </h1>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                {% if auteur.imageName is not null %}
                    <img src="{{ asset('images/auteurs/' ~ auteur.imageName)}}" alt="" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                {% if auteur.biographie is not null %}
                    {{ auteur.biographie|raw}}
                {% else %}
                    <p>Auncune biographie disponible actuellement</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}