{% extends 'base-backend.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_livre_index') }}" class="btn btn-dark">Retour à la liste</a>
    <h1>Livre</h1>
    <div class="d-flex justify-content-end align-items-end">
    {{ include('admin_livre/_delete_form.html.twig') }}
    <a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}" class="btn btn-success ms-2"><i class="align-middle" data-feather="pen-tool"></i></a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ livre.categorie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livre.description|raw }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if livre.imageName is defined and livre.imageName is not null %}
                    <img src="{{ asset('images/livres/' ~ livre.imageName )}}" alt="" class="img-fluid">
                    {% else %}
                    N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Mise à jour</th>
                <td>{{ livre.updatedAt ? livre.updatedAt|date('d-m-Y H:i:s') : 'N/A' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>
                    {% if livre.prix is defined and livre.prix is not null %}
                    {{ livre.prix }}
                    {% else %}
                    N/A 
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
